/* Catppuccin Macchiato */

@define-color rosewater       #f4dbd6;
@define-color flamingo        #f0c6c6;
@define-color pink            #f5bde6;
@define-color mauve           #c6a0f6;
@define-color red             #ed8796;
@define-color maroon          #ee99a0;
@define-color peach           #f5a97f;
@define-color yellow          #eed49f;
@define-color green           #a6da95;
@define-color teal            #8bd5ca;
@define-color sky             #91d7e3;
@define-color sapphire        #7dc4e4;
@define-color blue            #8aadf4;
@define-color lavender        #b7bdf8;
@define-color text            #f4baf5;
@define-color subtext1        #dcc8e0;
@define-color subtext0        #c685cb;
@define-color overlay2        #b773b6;
@define-color overlay1        #a2609b;
@define-color overlay0        #894e8d;
@define-color surface2        #783b76;
@define-color surface1        #642962;
@define-color surface0        #4f164d;
@define-color base            #3a1438;
@define-color mantle          #300e2e;
@define-color crust           #260825;

@define-color white           #ffffff;
@define-color black           #000000;

/* 
  bg - background
  fg - foreground
  br - border
*/

/* Main Colors */

@define-color shadow          shade(@crust, 0.5);
@define-color main-fg         @text;
@define-color main-bg         @crust;
@define-color main-br         @text;

@define-color active-bg       @base;
@define-color active-fg       @overlay2;

@define-color hover-bg        @surface1;
@define-color hover-fg        alpha(@text, 0.75);

/* Module Colors */

@define-color module-fg       @text;
@define-color white-module-fg @crust;
@define-color workspaces      @text;

@define-color cpuinfo         @mantle;
@define-color memory          @base;
@define-color cpu             @surface0;
@define-color distro-fg       @black;
@define-color distro-bg       @overlay2;
@define-color time            @surface0;
@define-color date            @base;
@define-color tray            @mantle;

@define-color pulseaudio      @mantle;
@define-color backlight       @base;
@define-color battery         @surface0;
@define-color power           @text;

/* State Colors */

@define-color warning         @yellow;
@define-color critical        @red;
@define-color charging        @text;
